imx298_lgit=/product/etc/camera/smartae/imx298_lgit/
imx298_liteon=/product/etc/camera/smartae/imx298_liteon/
imx298_sunny=/product/etc/camera/smartae/imx298_sunny/
hi843s_ofilm=/product/etc/camera/smartae/hi843s_ofilm/
imx219_liteon=/product/etc/camera/smartae/imx219_liteon/
imx219_sunny=/product/etc/camera/smartae/imx219_sunny/
imx386_foxconn=/product/etc/camera/smartae/imx386_foxconn/
imx386_liteon=/product/etc/camera/smartae/imx386_liteon/
ov12870_sunny=/product/etc/camera/smartae/ov12870_sunny/
