imx298_lgit=/product/etc/camera/tornado/imx298_lgit/
imx298_liteon=/product/etc/camera/tornado/imx298_liteon/
imx298_sunny=/product/etc/camera/tornado/imx298_sunny/
ov12870_sunny=/product/etc/camera/tornado/ov12870_sunny/
imx386_foxconn=/product/etc/camera/tornado/imx386_foxconn/
imx386_liteon=/product/etc/camera/tornado/imx386_liteon/
hi843s_ofilm=/product/etc/camera/tornado/hi843s_ofilm/
imx219_liteon=/product/etc/camera/tornado/imx219_liteon/
imx219_sunny=/product/etc/camera/tornado/imx219_sunny/